@font-face {
  font-family: "euclid";
  src: url(fonts/Euclid\ Circular\ A\ Medium.ttf);
}

@font-face {
  font-family: "murmure";
  src: url(fonts/le-murmure.ttf);
}

@font-face {
  font-family: "floreste";
  src: url(fonts/FloresteWavy-BWPqd.otf);
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ae97e8;
  margin: 0;
  padding: 0;
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distributes slides */ /*temp*/
  gap: 1rem; /*temp*/
  padding: 1rem; /*temp*/
  min-height: 1200px;
}

/* First Slide - Grid Layout */
.slide_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 5fr;
  gap: 1rem; /*temp*/
  padding: 1.5rem; /*temp*/
  position: relative;
}

/* Individual elements inside slide_1 */

/* Other slides */
.slide_2,
.slide_3 {
  flex: 1; /*temp*/
  max-width: 340px;
}

/* Categories and Blog sections */
.categories,
.blog {
  margin: 2.5rem; /*temp*/
  padding: 1rem; /*temp*/
}

.nav_bar {
  grid-column: 1 / 4;
  height: 15%;
  display: flex;
  flex-direction: row;
}

.nav_bar p {
  margin-top: 0px;
  align-items: center;
}

.catalogue_nav,
.blog_nav,
.contacts_nav {
  font-family: "euclid";
  font-size: 18px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.nav_bar p:first-child {
  font-family: "murmure";
  font-weight: 600;
  font-size: 45px;
}

.catalogue_nav {
  margin-left: 10%;
}

.blog_nav,
.contacts_nav {
  margin-left: auto;
}

.contacts_nav {
  margin-left: 1%;
}

.daily {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  max-width: 225px;
}

.special {
  position: relative;
  top: 150px;
  font-family: "euclid";
  font-size: 18px;
  font-weight: 500;
  color: hsla(74, 100%, 68%, 1);
}

.bottom_special {
  margin-bottom: 40%;
}

.bottom_special p:first-child {
  font-family: "euclid";
  font-size: 28px;
  font-weight: 500;
}

.bottom_special p:nth-child(2) {
  font-family: "euclid";
  font-size: 18px;
  font-weight: 500;
}

.bottom_special p:last-child {
  font-family: "floreste";
  font-weight: 400;
  font-size: 40px;
  color: hsla(74, 100%, 68%, 1);
  border-top: 1px solid #ffffff33;
  padding-top: 1.5rem;
}

.description img {
  width: auto;
  height: auto;
  /* position: relative;
  left: 10%; */
}

.buy {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  position: relative;
  left: 100%;
}

.ellipse_opaque {
  background-color: hsla(0, 0%, 100%, 0.19);
  width: 356px; /* change to relative?*/
  height: 135px;
  border-radius: 50%;
  transform: rotate(-13deg);
  border: 2px solid #d9ff5a;
}

.ellipse_opaque button {
  position: relative;
  left: 50%;
  top: 50%;
  background-color: unset;
  border: none;
  transform: rotate(13deg) translate(-50%, -50%);
  color: white;
}

.ellipse_opaque img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(66%) saturate(1584%)
    hue-rotate(21deg) brightness(102%) contrast(97%);
  width: 24px;
  height: 24px;
  transform: rotate(13deg) translate(-50%, -50%);
  position: relative;
  left: 50%;
  top: 50%;
}

.ellipse_transparent {
  background-color: unset;
  width: 356px; /* change to relative?*/
  height: 135px;
  border-radius: 50%;
  transform: rotate(-2deg);
  border: 2px solid #d9ff5a;
  position: relative;
  top: 15%;
  left: -1px;
}

.ben {
  font-family: "floreste";
  font-weight: 400;
  font-size: 212px;
  letter-spacing: 0%;
  color: #cbb6ff99;
  position: absolute;
  top: 20%;
  z-index: -1;
}

.description {
  flex: 0;
  position: absolute;
  left: 30%;
  top: 12%;
}

.slide_2,
.slide_3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.slide_2 {
  background-color: #fa8fef;
}

.slide_3 {
  background-color: #aecfff;
}

:is(.top_2, .top_3) img {
  width: 26px;
  height: 26px;
}

.top_2 {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 1rem;
}

.top_2 p {
  margin: 0;
  font-family: "euclid";
  font-weight: 500;
  font-size: 18px;
}

.bot_2,
.bot_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.bot_2 p,
.bot_3 p {
  text-align: center;
}

.bot_2 p:first-child,
.bot_3 p:first-child {
  font-family: "euclid";
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0%;
  color: #ffffff99;
}

.bot_2 p:last-child,
.bot_3 p:last-child {
  font-family: "floreste";
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 4%;
}

.top_3 {
  display: flex;
  gap: 40px;
  margin-top: 1rem;
}

.top_3 img:last-child {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7454%)
    hue-rotate(43deg) brightness(98%) contrast(112%);
}

.categories h1 {
  font-family: "euclid";
  font-weight: 500;
  font-size: 60px;
  letter-spacing: 0%;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.background-card {
  max-width: 390px;
  max-height: 465px;
}

.table,
.lamp,
.mirror,
.chair {
  position: relative;
}

.table img:nth-of-type(1),
.lamp img:nth-of-type(1) {
  position: absolute;
  top: 22%;
  left: 25%;
}

.mirror img:nth-of-type(1) {
  position: absolute;
  top: 22%;
  left: 20%;
}

.chair img:nth-of-type(1) {
  position: absolute;
  top: 22%;
  left: 30%;
}

.mirror h2,
.table h2,
.chair h2,
.lamp h2 {
  position: absolute;
  top: 10%;
  font-family: "euclid";
  font-weight: 500;
  font-size: 28px;
  max-width: 200px;
  margin: 0;
}

.table img:nth-of-type(3),
.lamp img:nth-of-type(3),
.mirror img:nth-of-type(3),
.chair img:nth-of-type(3) {
  position: absolute;
  left: 84%;
  bottom: 49%;
}

.table img:nth-of-type(4),
.lamp img:nth-of-type(4),
.mirror img:nth-of-type(4),
.chair img:nth-of-type(4) {
  position: absolute;
  left: 37%;
  bottom: -10%;
}

.lines {
  margin-top: 300px;
  position: relative;
  right: 5%;
}

.back-line,
.front-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "floreste";
  font-weight: 400;
  font-size: 40px;
}

.back-line img,
.front-line img {
  width: 21px;
  height: 21px;
}

.back-line {
  width: 110%;
  height: 72px;
  background-color: #cbb6ff;
  opacity: 80%;
  transform: rotate(5deg);
}

.front-line {
  width: 110%;
  height: 80px;
  background-color: #aeceff;
  transform: rotate(-2.2deg);
  position: absolute;
  bottom: 8%;
}

.blog {
  overflow: hidden;
  margin: 0;
}

.blog_section {
  display: grid;
  grid-template-columns: 1 1;
  grid-template-rows: 1 2 1;
  margin-top: 15%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.blog_head {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 40px;
}

.blog_head h1 {
  font-family: "euclid";
  font-weight: 500;
  font-size: 60px;
  letter-spacing: 0%;
}

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.paginator p {
  font-size: 60px;
  color: #ffffff4d;
  margin: 0;
  position: relative;
  bottom: 18px;
}

.paginator p:first-child {
  color: white;
}

.slider {
  grid-row: 1;
  grid-column: 2;
  font-family: "floreste";
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 4%;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}

.slider img {
  width: 63px;
  max-height: 2px;
  position: relative;
}

.articles {
  grid-row: 2;
  grid-column: 1 / 3;
  display: flex;
  gap: 30px;
  margin-bottom: 10%;
}

.copyright_date {
  grid-column: 1;
  grid-row: 3;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2%;
}

.copyright_text {
  grid-column: 2;
  grid-row: 3;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2%;
  text-align: right;
}
